<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Named Entity Extractor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light justify-content-center">
  <a class="navbar-brand" href="/">Named Entity Extractor</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<br/>
<br/>
<br/>
	<div class="container">
        
		<form method="POST" action="/process">
		    <div class="form-group">
		            <label>Your Text</label>
		    	<textarea type="text" rows="5" cols="5" class="form-control"  name="rawtext" required="true">   </textarea>
		    	<br/>
		    	<select class="form-control" name="taskoption">
				<option selected>Select Task</option>
				<option value="ORG">Organization</option>
				<option value="PERSON">Person</option>
				<option value="GPE">Geopolitical</option>
				<option value="MONEY">Money</option>
			</select>
			<br/>
		    	<button type="reset" class="btn btn-primary"><i class="fa fa-eraser"></i> Clear</button>
		    	<button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
			 
			</div>
		</form>
    </div>

    <div class="container">
    	<div class="alert alert-success" role="alert">
        <p class="alert-heading">Result</p>
        <p>Number of Records:{{num_of_results}}</p>
        <ul>
        {% for i in results %}
        	<li>{{i}}</li>
        	{%endfor %}
    	</ul>
    	</div>
    </div>

</body>
</html>
